# Document setup
snippet quickdoc "quick document" b
\\documentclass[a4paper, 10pt]{${1:memoir}}
\\usepackage[${2:danish}]{babel}
\\begin{document}
${0}
\\end{document}
endsnippet

# Vector
snippet vec "vector" b
\\vec{${1}} ${0}
endsnippet
