# Vector
snippet vec "vector" b
\\vec{${1}} ${0}
endsnippet

# Integral
snippet int "integral" b
\\int_{${1}}^{${2}} ${4} \\dd{${3}} ${0}
endsnippet

# Derivative
snippet diff "derivative"
\\dv{${1}}{${2}} ${0}
endsnippet

# Partialderivative
snippet pdiff "partialderivative"
\\pdv{${1}{${2}}} ${0}
endsnippet
